<div class="container">
  <h1>Products</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
      @for (product of productsList; track $index) {
      <tr>
        <th scope="row">{{ product.title }}</th>
        <td>{{ product.title }}</td>
        <td [ngClass]="{ red: product.price > 200 }">
          {{ product.price | currency }}
        </td>
        <td>
          <button
            class="btn btn-primary"
            [routerLink]="['/products', product.id]"
          >
            Detail
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
